body {
  background: no-repeat top / cover url("../image/background.jpg");
  min-height: 100vh;
  position: relative;
}

.contenu {
  padding-bottom: 3rem;
}

.image {
  width: 175px;
  height: auto;
}

.chart-container {
  height: 100vh;
  width: 40vw;
}

.marge {
  margin-right: 20%;
  margin-left: 20%;
}

.centre {
  margin-left: auto;
  margin-right: auto;
}

.centre-pourcentage {
  margin-left: 43%;
  margin-right: 50%;
  width: 15%;
}

.image-liste {
  margin-left: auto;
  margin-right: auto;
  max-width: 300px;
}

footer {
  position: absolute;
  bottom: 0;    
  left: 0;
  width: 100%;
  height: 2rem;
}